
body{
    background-image: linear-gradient(to bottom right, #64a3f5, #98f783, #c6fff1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#000000;
}

nav{
    color: #000000;
    background-color: rgb(100, 163, 245, 50%);
    border-radius: 50px;
    height: 100px;
    
}
.wrapper{
    background-color: rgba(255, 255, 255, 0.65);
    margin:auto;
    align-content: center;
    width:80%;
    overflow: hidden;
    padding: 15px;
    border-radius: 50px;
}
#logo{
    background-color:none;
    width:300px;
    height: 300;
}

h2{
    color:#000000;
    border-bottom: lightgray;
    border-bottom-width: 5px;
    text-align:center;
}
h3{ 
    text-align: center; 
    display: block;
    padding:10px;
}
a{
    color: #000000;
    text-decoration: underline;
}

p{
    padding:10px;
    color: #000000;
}

.me {
    float: left;
    width: 50%;
    height: auto;
    padding: 15px;
}
.w3-display-left {
    float: left;
}
.w3-display-right {
    float: right;
}
footer{
    background-color: #c6fff1;
    color: #000000; 
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height:30px;
    clear: both;
}


/*Below is for W.WebApps page only*/
.slide1, .slide2{
    width: 80%;
    margin: auto;
}
.WebApps, .designsArt {
    position: relative;
    width: 80%;
    margin: auto;

}
.WebApps img, .designsArt img  {
    width: 800px;
}

.overText{
    position: absolute;
    color: #000000;
    bottom: 0px;
    width: 50%;
    background: rgba(255,255,255, .75 );
    font-size: 24px;

}
.overText, p{
    padding:2px;
}

.icon{
    background-color: #64a3f5;
    counter-increment: #000000;
}

/*cake portfolio style below */
#carouselCaptions {
    width: 80%;
    margin: auto;
}
.carousel-control-prev,.carousel-control-next {
    height:80px;   
    width: 80px; 
    border-style: double;
    border-width: 20px;
    border-radius: 50px;
    border-color: white;
    background-color:#98f783;
}

/*resume link style below */
.Rez {
    color:black;
    margin: auto;
    width: 80%;
} 


/*@media below*/
@media only screen and (max-width: 700px) {
    img, #logo {
        width:250px;
    }
    h2 {
        font-size: large;
    }
    h3 {
        font-size: medium;
    }

    .WebApps img {
        width: 500px;
    }
    .designsArt img {
        width: 500px;
        
    }
    .overText {
        position: relative;
        bottom: 0px;
        font-size: 11px;
        width:100%;
    }
    .carousel-control-prev,.carousel-control-next {
        height:30px;   
        width: 30px; 
        border-style: double;
        border-width: 5px;
        border-radius: 25px;
        border-color: white;
        background-color: #98f783;
    }

    footer {
        position: relative;
        bottom: 0px;
    }
  }
  